@import '/src/reset';

html {
	font-size: 62.5%;
}

body {
	background-color: rgb(237, 218, 237);
	font-family: 'Cabin', sans-serif;
	font-size: 1.6rem;
}

#app {
	width: 500px;
	height: 700px;
	margin: 0 auto;
	padding: 0 20px;
	border: 1px dashed black;
	border-radius: 5px;
	overflow: scroll;
}

.default-btn {
	background-color: #ea4c89;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.default-btn:hover {
	cursor: pointer;
	background-color: #f082ac;
	transition: all 0.3s ease;
}

.header-container {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 2rem;

	.shopping-emoji {
		font-size: 3rem;
	}
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0px 20px 20px;

	.text-input {
		width: 40%;
		padding: 5px 10px;
		border: 0.1px solid rgb(238, 163, 229);
		border-radius: 5px;
	}
}

.list {
	width: 80%;
	margin: 0 auto;
	padding: 0;
	.item-completed {
		text-decoration: line-through;
	}

	.list-item {
		display: flex;
		gap: 10px;
		list-style-type: none;
		font-size: 1.6rem;
		margin-bottom: 10px;

		.delete-btn {
			margin-left: auto;
		}
	}
}

footer {
	width: 100%;
	text-align: center;
	h3 {
		font-size: 2rem;
	}
}
